<script src="https://unpkg.com/vanilla-back-to-top@7.2.0/dist/vanilla-back-to-top.min.js"></script>

<script>addBackToTop({
    backgroundColor: '#fff',
    innerHTML: "{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;",
    textColor: '#333',
    id: 'back-to-top',
  })
</script>

<style>
  #back-to-top {
    border: 1px solid #ccc;
    border-radius: 0;
    font-family: "Lato";
    font-size: 14px;
    width: 100px;
    text-align: center;
    line-height: 30px;
    height: 30px;
  }
</style>
